<h1>{{title}}</h1>

{{!-- Form to add new Contact --}}
<form method="POST">
<div class="add-contact">
  <fieldset>
    <label for="name">
      Name:
    </label>
    <input name="name" id="name" required />
  </fieldset>

  {{!-- Validating contact information if its 10 digits and ranging from 0-9 --}}
  <fieldset>
    <label for="contact">
      Contact:
    </label>
    <input name="contact" id="contact" required pattern="[0-9]{10}" />
  </fieldset>

  <fieldset>
    <label for="relation">
      Relation:
    </label>
    <select name="relation" id="relation">
      {{!-- getting the relations to display in the dropdown menu using looping --}}
      {{#each relations}}
        <option>{{this.relation}}</option>
      {{/each}}
    </select>
  </fieldset>

  <fieldset>
    <label for="email">
      Email:
    </label>
    <input name="email" id="email" required type="email" />
  </fieldset>
</div>
  <button class="save-contact">
    Save contact
  </button>

</form>