<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
        <div class="container">
            <div class="about-section"> 
                <div class="about-text">
                    <h1 class="page-titles">About Me!</h1>
                    <p>Hi there, My name is Harshil Thakkar and am currently pursuing Computer Programming from Georgian
                        College.
                        Currently I am in my Second Semester and I am learning languages like PHP Python JAVA CSS.
                        I am looking forward to work with a company which can provide me work experience as an intern in
                        the Fall 2023 Semester.
                        I am having knowledge in languages like C, C++, JAVA, Python, HTML, CSS, SQL, JAVASCRIPT, XML,
                        Tinkercad.</p>
                    <br>
                    <p>I am a student with ambition and creativity, want to highlight my graphic design abilities. I
                        am committed to delivering top-notch work that exceeds my clients' expectations and
                        satisfies their demands. My objective is to land a job as a web developer in an inventive
                        and creative company.</p>
                    <br>
                    <p>To know more about me and my skills checkout the content below or contact with me directly on</p>
                    <br>
                    <h3>harshilthakkar@gmail.com</h3>
                    <a href="https://drive.google.com/file/d/1ITDgZJUwut3QYeJX6nu_f53zZQJogfp5/view?usp=share_link"
                        download class="resume">View Resume</a>
                </div>

                <div class="about-image">
                    <img src="images/my-image.jpg" alt="My image">
                </div>

            </div>
        </div>
</body>
</html>