<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{contact}}</title>
</head>
<body>
    <div id="contact">
        <div class="container">
            <div class="row">

                <div class="contact-info">
                    <h1 class="page-titles">Contact Me</h1>
                    <h3>Email - harshilthakkar@gmail.com</h3>
                    <h3>Phone - (905) 782 4157</h3>

                    <div class="social-icons">
                        <a href="https://github.com/Harshil52"><i class="fa-brands fa-github"></i></a>
                        <a href="https://www.instagram.com/_harshil_5_/"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/harshil-thakkar-715334218/"><i
                                class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>

                <div class="contact-form">
                    <form>
                        <p>To connect with me or to know more about me please fill out the form below!</p>
                        <br>
                        <input type="text" name="Name" placeholder="Your Name" required>
                        <input type="text" name="Email" placeholder="Your Email" required>
                        <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
                        <button type="submit" class="submit">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>
</html>