<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/stylesheets/style.css' />

    <title>Home</title>
</head>
<body>
    <div class="container">
     <div class="home-info">
                <div class="line1">Hi there, I am</div>
                <div class="line2">Harshil Thakkar</div>
                <div class="line3">I am a Computer Programming Student</div>
        </div>
    </div>
</body>
</html>
