<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="https://kit.fontawesome.com/e8752f572c.js" crossorigin="anonymous"></script>

  </head>

  <body>
        <!-- Navigation bar having GitHub repository link in logo and with links to different sections of the portfolio -->
    <div class="container">
                    <nav>
                        <div class="logo">
                            <a href="https://github.com/Harshil52"><img src="images/logo.jpg" alt="image" class="profile-image"></a>
                        </div>
                        <div class="menu-toggle">
                            <div class="hamburger"></div>
                        </div>
                        <ul class="menu">
                            <li><a class="nav-link active" href="./">Home</a></li>
                            <li><a class="nav-link" href="./about">About</a></li>
                            <li><a class="nav-link" href="./projects">Projects</a></li>
                            <li><a class="nav-link" href="./contact">Contact</a></li>
                        </ul>
                    </nav>
    </div>
    
    {{{body}}}

    <footer>
        <div class="footer">
            <div class="social-icons">
                <a href="https://github.com/Harshil52"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/in/harshil-thakkar-715334218/"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <p>@Copyright 200522591 | Designed By Harshil Thakkar 200522591 </p>
        </div>
    </footer>
</body>
</html>
