<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <div id="projects">
        <div class="container">
            <h1 class="page-titles">Projects</h1>
            <div class="project-list">

                <div class="project">
                    <div class="project1">
                        <h3>Distance sensor</h3>
                        <p>This was project made by me in my first semester for IOT in Tinkercad using arduino. <b>Click
                                on the image below to take a look at the project!</b></p>
                        <a href="https://www.tinkercad.com/things/kIH87VahedH"><img src="images/arduino.jpeg"></a>
                    </div>
                </div>

                <div class="project">
                    <div class="project2">
                        <h3>Sports Registration Website</h3>
                        <p>SpoTechy was basically created with the use of PHP and it can interact with the user by login
                            and registration functions.
                            It can validate the user input as well. <b>Click on the image below to take a look at the
                                project!</b>
                        </p>
                        <a
                            href="https://lamp.computerstudi.es/~Harshil200522591/COMP1006_Assignment2_200522591/homepage.php"><img
                                src="images/SporTechy.png"></a>
                    </div>
                </div>

                <div class="project">
                    <div class="project3">
                        <h3>Laptop Inventory</h3>
                        <p>This is a application to store the information of laptop devices into a inventory. <b>Click
                                on the image below to take a look at the project!</b></p>
                        <a href="https://github.com/Harshil52/W23COMP1008Assignment2_200522591.git"><img
                                src="images/laptop.jpeg"></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>