<h1>{{title}}</h1>

{{!-- For Adding a contact relation --}}
<form method="POST">

    <div id="add-relation">
        <label for="relation" class="relation">Contact Relation: </label>
        <input name="relation" id="relation" required />
    </div>
    <br>
    <p id="save-link">
    <button class="save-button">Save</button>
    </p>
</form>