<h1>{{title}}</h1>

<form method="POST">

    
        <label for="relation" class="col-2">Contact Relation: </label>
        <input name="relation" id="realtion" required />
    
    <br>
    <button class="offset-3 btn btn-primary">Save</button>
</form>