/*Harshil Thakkar 200522591*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

@font-face {
    font-family: 'Squirrel';
    src: url(fonts/hardcorehipstarough-dowd1.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*Body is given external hosted web font*/

body {
    background: rgb(6, 5, 43);
    color: white;
    font-family: 'Fira Sans', sans-serif;
}

/*Heading are given locally hosted font*/

h1,h2,h3{
    font-family: 'Hardcore Hipsta',squirrel;
}

/* This is Header section which contains navbar and logo which takes us to the github repository and my name*/

#header {
    background-image:  linear-gradient(rgb(0, 0, 0), rgb(45, 24, 63));
    background-position: center;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 100vh;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.profile-image {
    border-radius: 50%;
    border: 12px #515352 solid;
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

.profile-image:hover{
    border: 14px purple solid;
}

.container {
    margin: 10px 10%;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

nav ul li {
    margin: 20px 30px;
    display: inline-block;
    list-style: none;
}

nav ul li a {
    color: rgb(44, 199, 137);
    /* text-decoration: 3px underline rgb(111, 127, 23); */
    position: relative;
    font-size: 25px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: 5px underline rgb(146, 21, 192);
}

.menu-toggle {
    display: none;
  }
  
  .menu {
    display: flex;
  }
  
  .menu li {
    margin: 0 10px;
  }

/*Header -  This is css for the 3 lines on the first page where we are creating a layout which work responsively*/

.home-info{
    margin-top: 0px;
}
.home-info .line1 {
    margin-top: 18%;
    font-size: 40px;
    color: rgb(44, 199, 137);
    
}
.home-info .line2 {
    line-height: 150%;
    font-size: 70px;
    color: rgb(146, 21, 192);
}
.home-info .line3 {
    font-size: 40px;
    color: rgb(44, 199, 137);
    margin-top: 20px;
}

/* About - This is about me section in which I have used flex to keep image beside the info-text*/

.about-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#about{
    margin-top: 100px;
}

.about-image { 
    margin-top: 150px;
    flex-basis: 30%;
}

.about-image img {
    border-radius: 10%;
    width: 100%;
    position: relative;
    height: auto;
}

.about-text {
    font-size: 25px;
    flex-basis: 60%;
    font-family: 'Ubuntu', sans-serif;
}

.page-titles {
    font-weight: 500;
    font-size: 50px;
    color: rgb(7, 151, 72);
    text-decoration: 5px underline rgb(146, 21, 192);
    margin-bottom: 30px;
    margin-top: 30px;
}

.resume{
    font-size: 25px;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    background: rgb(68, 25, 92);
    color: rgb(77, 239, 96);
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 60px;
}

/* Knowledge - This is used to display the list of skills using grid  */

.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, max(300px, 1fr));
    grid-gap: 50px;
    margin-top: 50px;
}

.skills-list div {
    background: #474545;
    padding: 30px;
    border-radius: 20px;   
    font-size: 25px; 
}

.skills-list div h2 {

    font-size: 35px;
    font-weight: bold;
    color:#31e59d ;
    margin-bottom: 15px;
}

.skills-list div:hover {
    background: #580d50;
}

.skill-head{
    color: white;
    font-size: 20px;
}

/* Projects - This is my project section which uses grid and to display projects in row*/

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.project{
    position: relative;
    overflow: hidden;
    font-size: 25px;
}

.project h3{
    font-size: 35px;
    color:rgb(7, 151, 72);
    margin: 30px;
    margin-left: 0;
}
.project b{
    color:rgb(146, 21, 192)
}

.project img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 0;
}

/* Contact - This page used normal css styling to style the social icons and display a form for the user with submit form*/

.contact-info{
    font-size: 30px;
}

.social-icons{
    margin: 20px;
}

.social-icons a{
    color: white;
    display: inline-block;
    text-decoration: none;
    margin-right: 15px;
    font-size: 40px;
}

.contact-form .submit{
    font-size: 20px;
    background: rgb(68, 25, 92);
    color: rgb(77, 239, 96);
    padding: 20px;
    border-radius: 10px;
}

.contact-form .submit:hover{
    background-color: black;
    color: white;
}

.contact-form{
    margin: 100px;
}

.contact-form form{
    width: 100%;
}
.contact-form p{
    font-size: 40px;
}

.contact-info h3{
    margin: 10px;
    color: white;
}

form input,textarea{
    border: 2px green solid;
    background: #000000;
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.footer{
    font-size: 25px;
    text-align: center;
    color:rgb(56, 196, 74);
    margin-top: 30px;
    margin-bottom: 0;
    background-color: #320a32;
    width: 100%;
    padding: 30px;
    margin-left: 0;
}

.social-icons{
    padding-bottom : 10px;
    margin: 0px;
}
/* Media Queries for Mobile Responsiveness */

@media screen and (max-width: 770px) {

    /* Update font sizes */
    h1, h2, h3 {
        font-size: 30px;
    }

    .menu {
        display: none;
      }
    
      .menu-toggle {
        display: block;
        cursor: pointer;
      }
    
      .hamburger {
        width: 30px;
        height: 4px;
        background-color: #fff;
        margin: 6px 0;
        transition: all 0.3s ease;
      }
    
      .menu-open .hamburger {
        background-color: transparent;
      }
    
      .menu-open .hamburger::before {
        transform: translateY(10px) rotate(45deg);
      }
    
      .menu-open .hamburger::after {
        transform: translateY(-10px) rotate(-45deg);
      }

    .header-info .line1 {
        margin-top: 15%;
        font-size: 30px;
    }

    .header-info .line2 {
        font-size: 50px;
    }

    .header-info .line3 {
        font-size: 30px;
    }

    .about-image {
        flex-basis: 100%;
        max-width: 100%;
    }

    .about-text {
        font-size: 20px;
    }

    .page-titles {
        font-size: 40px;
    }

    .resume {
        font-size: 20px;
    }

    .skills-list div {
        font-size: 20px;
        padding: 20px;
    }

    .project h3 {
        font-size: 25px;
    }

    .contact-info {
        font-size: 20px;
    }

    .social-icons a {
        font-size: 30px;
    }

    .contact-form .submit {
        font-size: 18px;
        padding: 15px;
    }

    .contact-form{
        margin: 0px auto;
    }

    .contact-form p {
        font-size: 30px;
    }

    form input, textarea {
        font-size: 16px;
        padding: 10px;
        margin: 10px 0;
    }

    .footer {
        font-size: 20px;
        padding: 20px;
    }
}
