<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Manager</title>
</head>
<body>
    <div class="homepage-data">
    <h1>Welcome to CONTACTLYNC</h1>
    <p>ContactLync is a powerful webapp designed for both personal and business use. It helps users to manage and organize contact information efficiently.</p>

    <h2>Contact Pages</h2>
    <p>The contacts page displays all the contacts stored in the application. Users can view contact details such as name, contact number, email and relation. However, they cannot edit this information without logging into the webapp.</p>
    <p>User are also provided with the option of logging in with Github and also able to register through the web-app itself.</p>
    <p>ContactLync allows its users to add relations, which represents connections or relations with other business contacts or individuals. Hence, this feature is more beneficial when used for business purpose.</p>

    <h2>Benefits of Business Use</h2>
    <p>Contactlync efficiently manage contact details of clients, partners and stakeholders for companies. This helps its employees to get the quick access to their customers, employees, clients and business partners. Moreover, when used for business they can limit the user access to limited authorized users who can modify the contact information.</p>
    </div>
</body>
</html>