<h1>Register</h1>
<div class="register-form">
<form method="post">
    <fieldset>
    <label for="username">Username : *</label>
    <input name="username" id="username" required type="email" placeholder="email@email.com" />
  </fieldset>
  <fieldset>
    <label for="password">Password : *</label>
    <input name="password" id="password" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
  </fieldset>
  <fieldset>
    <label for="confirm">Confirm Password : *</label>
    <input name="confirm" id="confirm" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
  </fieldset>
</div>
<p class="register-data">
  <button class="register-button">Register</button> <br>
  Already registered? <a href="/login" class="login-link">Login</a>
</p>
</form>