* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: cadetblue;
}

a {
  color: #00B7FF;
}

/* Navbar */

.navbar {
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  flex: 1; 
}

.navbar-logo img {
  width: 200px;
  height: 100px;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
}

.navbar-nav li {
  font-size: 25px;
  padding: 15px;
}

.navbar-nav li a {
  color: white;
  text-decoration:solid;
}

.navbar-nav li a:hover {
  color: rgb(17, 169, 196);
}

.navbar-buttons {
  display: flex;
  align-items: center;
}

.navbar-buttons a {
  font-size: 25px;
  color: white;
  text-decoration:solid;
  padding: 10px 20px;
}
.navbar-buttons a:hover {
  color: rgb(41, 206, 195);
}

/* Footer */

.footer {
  position: fixed;
  font-size: 25px;
  text-align: center;
  color: rgb(6, 56, 12);
  margin-top: 30px;
  padding: 30px;
  bottom: 0px;
  left: 25%;
}

/* Social Icons */

.social-icons i{
  font-size: 40px;
  display: inline-block;
  margin-top: 10px;
  color: rgb(11, 9, 9);
  height: 60px;
  width: 60px;
}

.social-icons i:hover{
  color: rgb(104, 104, 1);
}

/* Separate Pages, links and tags */
h1{
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
}

#add-link , #save-link{
  text-align: center;
  text-decoration: underline;
  padding-top: 20px;
  padding-bottom: 30px;
}

#add-link a{
  color:rgb(6, 56, 12);
  font-size: 20px;
}

.table-container {
  margin: 20px auto; 
  width: 80%; 
}

.my-table{
  width: 100%;
}

.my-table th,
.my-table td {
    padding: 10px; 
    text-align: center;
}
.my-table th {
  background-color: #020000; 
  color:rgb(60, 214, 214);
  border-radius: 10px;
  font-size: 18px;
}

.edit-delete{
  color: rgb(92, 13, 13);
  text-decoration:solid;
}

.save-button{
  margin: 20px;
  padding: 16px;
  font-size: 22px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

#add-relation{
  margin-top: 50px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-size: 22px;
}

#relation, input{
  margin: 20px;
  border-radius: 5px;
  font-size: 20px;
}

.add-contact{
  font-size: 20px;
}

.save-contact{
  margin: 20px;
  padding: 16px;
  font-size: 22px;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin-left: 650px;
}
fieldset{
  border: none;
  margin-left: 550px;
}

.login-data, .register-data{
  font-size: 16px;
  margin-left: 580px;
  margin-top: 50px;
}

.login-buttons{
  font-size: 14px;
  margin: 14px;
  padding: 16px;
  background-color: #020000;
  color: white;
  border-radius: 5px;
}

.register-button{
  font-size: 14px;
  margin-top: 0px;
  padding: 16px;
  background-color: #020000;
  color: white;
  border-radius: 5px;
  margin-left: 100px;
  margin-bottom: 20px;
}

.login-buttons a{
  color: white;
}

.register{
  color: navy;
}

.header-line{
  margin-top: 30px;
  margin-left: 600px;
  font-size: 20px;
}

.register-form{
  font-size: 20px;
  margin-top: 40px;
}

.login-link{
  color: navy;
  margin-left: 20px;
}

.homepage-data{
  font-size: 22px;
  margin: 20px;
}
h2{
  text-align: center;
  margin: 20px;
} 